<nav class="navbar bg-white py-3 px-4 shadow-sm" style="position: relative;">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <a class="navbar-brand fw-bold me-4" routerLink="/">
            <img src="https://i.postimg.cc/vZhvj09f/logo-e-Cap.jpg" alt="e-Cap" width="90" height="70"
                class="rounded-pill img-fluid">
        </a>

        <!-- Menú -->
        <ul class="navbar-nav flex-row gap-3 align-items-center m-0">
            <li class="nav-item"><a class="nav-link text-dark" routerLink="/shopping-cart"><i
                        class="bi bi-cart"></i></a></li>
            <li class="nav-item"><a class="nav-link text-dark" routerLink="/courses">Cursos</a></li>
            <li class="nav-item"><a class="nav-link text-dark" routerLink="/login">Ingresar <i
                        class="bi bi-person"></i></a></li>
            <li class="nav-item">
                <button class="btn text-white fw-semibold shadow-sm"
                    style="background-color: #15CF74; border-radius: 8px;" routerLink="/register">
                    Únete
                </button>
            </li>
        </ul>
    </div>

    <!-- Barra de búsqueda-->
    <form style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 500px;">
        <div class="position-relative w-100">
            <input type="text" class="form-control rounded-pill pe-5 ps-4" placeholder="¿Qué quieres aprender hoy?"
                style="height: 50px;" />
            <button type="submit"
                class="btn position-absolute top-50 end-0 translate-middle-y me-2 d-flex align-items-center justify-content-center shadow-sm"
                style="background-color: #15CF74; color: white; width: 40px; height: 40px; border-radius: 100%;">
                <i class="bi bi-search fs-5"></i>
            </button>
        </div>
    </form>
</nav>