<header class="p-3 text-bg-black">
    <div class="container ">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <form>
                <div class="input-group mb-2 mt-2 shadow-lg rounded-5 overflow-x-auto">
                    <input type="text" class="form-control border-0 py-3 px-5" placeholder="¿Que quieres estudiar hoy?"
                        aria-label="Search term">
                    <button class="btn btn-success px-4 py-4 search-btn rounded-5" type="button" style="background-color:#15CF74">
                        <i class="bi bi-search text-primary"></i>
                    </button>
                </div>
            </form>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">Inicio</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">Features</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">Pricing</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">S</a></li>
            </ul>

            <div class="text-end">
                <button type="button" class="btn btn-success me-2" style="background-color:#15CF74">Ingresar</button>
                <button type="button" class="btn btn-success" style="background-color:#15CF74">Registrarse</button>
            </div>
        </div>
    </div>
</header>