<section class="container my-5">
  <div class="row align-items-center gy-4">
    <div class="col-12 col-lg-6 text-center text-lg-start">
      <h1 class="fw-bold display-5">
        Puedes estudiar<br />
        <span class="text-dark">En cualquier momento</span>
        y donde sea<br />
      </h1>
      <p class="text-muted my-4">
        Únete a los miles de estudiantes y lleva tu carrera al siguiente nivel con nuestros expertos.
      </p>
      <button class="btn btn-success btn-lg rounded-pill">Comienza a estudiar ahora</button>
    </div>

    <div class="col-12 col-lg-6 position-relative text-center">
      <div class="bg-white shadow rounded-4 p-3 position-absolute top-0 start-5 translate-middle d-none d-sm-block">
        <div class="text-success fw-bold">2k+</div>
        <small>estudiantes</small>
        <div class="d-flex mt-2">
          <img src="https://i.pravatar.cc/40?img=1" class="rounded-circle me-1" />
          <img src="https://i.pravatar.cc/40?img=2" class="rounded-circle me-1" />
          <img src="https://i.pravatar.cc/40?img=3" class="rounded-circle" />
        </div>
      </div>
      <img src="https://i.postimg.cc/02jsBBL1/joven-estudiando-en-una-biblioteca-usando-una-computadora-portatil.jpg"
        class="rounded-5 img-fluid mb-3" style="width: 250px; max-width: 90%;" alt="Student Male" />
      <div class="bg-white shadow rounded-4 p-3 position-absolute bottom-0 end-1 translate-middle d-none d-sm-block">
        <div class="text-success fw-bold h4 mb-2">5.8k</div>
        <small>cursos</small>
      </div>
    </div>
  </div>
</section>