<div class="container py-5">
    <!-- Encabezado -->
    <div class="text-center mb-4">
        <span class="badge bg-light text-primary py-2 px-3 rounded-pill mb-2">Top Cursos</span>
        <h2 class="fw-bold">Explora nuestros mejores cursos</h2>
        <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum magni earum incidunt odit,
            dolor vitae</p>
    </div>

    <!-- Filtro por categorías -->
    <div class="d-flex justify-content-center position-relative mb-4 border-bottom" style="border-color: #d1d5db;">
        <div class="d-flex gap-4 position-relative">

            <div *ngFor="let category of categories" (click)="selectCategory(category.id)"
                class="position-relative pb-2 cursor-pointer"
                [ngClass]="{ 'fw-bold text-dark': selectedCategory === category.id, 'text-secondary': selectedCategory !== category.id }"
                style="font-size: 1rem;">

                {{ category.name }}

                <div *ngIf="selectedCategory === category.id" class="position-absolute start-50 translate-middle-x"
                    style="height: 4px; width: 50%; bottom: 0; border-radius: 5px; background-color: #15CF74;"></div>
            </div>

        </div>
    </div>

    <!-- Card Courses -->
    <div class="row g-4">
        <div class="col-md-6 col-lg-3" *ngFor="let course of filteredCourses">
            <app-course-card [course]="course"></app-course-card>
        </div>
    </div>

    <div class="text-center mt-5">
        <a class="btn px-4 py-2 rounded-pill fw-medium text-white shadow" style="background-color: #15CF74;"
            routerLink="courses">
            Ver todos los Cursos <i class="bi bi-arrow-right ms-2"></i>
        </a>
    </div>
</div>